@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pilates Plus</h1>
    <p class="lead"></p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Pilates Plus is an app for the owner to track clients, sessions, and the equipment that was utilized in
            the session.  The owner can make clients active or inactive depending on what the clients activity is.
            In addition, the session can be added so the owner can track what the client's strenghts, concerns or
            injuries.  The equipment allows the owner to list out the equipment utilized in the sesison.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>