body {
    background-color: cadetblue;
}
h1{
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.landingPage{
    background-color:antiquewhite;
    border-radius: 50px;
}

#button1{
    width: 150px;
    background-color:paleturquoise;
    border:5px;
}
#button1:hover{
    background-color:azure;  
}
.body-content{
    background-color:antiquewhite;
}





